<% provide :title, @user.fullname %>
<div class="page-header">
  <h1><%= @user.fullname %></h1>
  <h3>
    <%= "@#{@user.name}" %>
    <% if @user.age %>
      <small><%= "#{@user.age}岁" %></small>
    <% end %>
  </h3>
</div>

<section>
  <header>
    个人介绍
  </header>
  <%= @user.introduction %>
</section>
