.container
  .hero-unit
    %h1 西安Rubyists社区
    %p 西安这座城市好像从来不是技术的热土，比不上成熟而又发达的北京、上海，也和快速发展的成都慢慢的拉开了距离。
    %p
      %a{class:"btn btn-primary btn-large", href:"#"} 加入我们

.container
  %h2.intro-title 也许你想知道什么样的一拨人
  %ul
    %li.person
      %a
        %img{src: "http://placehold.it/200x150"}
      .intro
        %span 小张
    %li.person
      %a
        %img{src: "http://placehold.it/200x150"}
      .intro
        %span 小王
    %li.person
      %a
        %img{src: "http://placehold.it/200x150"}
      .intro
        %span 小李
    %li.person
      %a
        %img{src: "http://placehold.it/200x150"}
      .intro
        %span 小李
