= render "application/carousel"

.community-title
  .container
    .row
      .span12
        %h1 关于社区

.community-content.container
  %h2 西安这座城市仿佛从来不是技术的热土
  %h2 比不上成熟而又发达的帝都和魔都
  %h2 又和快速发展的成都、杭州拉大了距离
  %h2 然而西安的技术社区却在努力的发展着
  %h2 如果你正在寻找一个可以融入的部落
  %h2 那么每个月的第三个周六的下午的聚会你绝对不应该错过！

.intro-title
  .container
    .row
      .span12
        %h1 我们这些人

.intro-content.container
  %h2 我们是西安的Rubyists，欢迎你的加入！
  %ul
    %li.person
      .profile
        %a.avatar
          %img{src: "http://placehold.it/264x264"}
        %a.cover{href: "#"}
          %p a ThoughtWorker, 有一年Rails项目经验，兴趣于互联网产品
      .intro
        %span.name 小张
        %span.social
          %a{href: "#"}
            %i.icon-github
          %a{href: "#"}
            %i.icon-weibo
          %a{href: "#"}
            %i.icon-rss
    %li.person
      .profile
        %a.avatar
          %img{src: "http://placehold.it/264x264"}
        %a.cover{href: "#"}
          %p a ThoughtWorker, 有一年Rails项目经验，兴趣于互联网产品
      .intro
        %span.name 小李
        %span.social
          %a{href: "#"}
            %i.icon-github
          %a{href: "#"}
            %i.icon-weibo
          %a{href: "#"}
            %i.icon-rss
    %li.person
      .profile
        %a.avatar
          %img{src: "http://placehold.it/264x264"}
        %a.cover{href: "#"}
          %p a ThoughtWorker, 有一年Rails项目经验，兴趣于互联网产品
      .intro
        %span.name 小张
        %span.social
          %a{href: "#"}
            %i.icon-github
          %a{href: "#"}
            %i.icon-weibo
          %a{href: "#"}
            %i.icon-rss
    %li.person
      .profile
        %a.avatar
          %img{src: "http://placehold.it/264x264"}
        %a.cover{href: "#"}
          %p a ThoughtWorker, 有一年Rails项目经验，兴趣于互联网产品
      .intro
        %span.name 小张
        %span.social
          %a{href: "#"}
            %i.icon-github
          %a{href: "#"}
            %i.icon-weibo
          %a{href: "#"}
            %i.icon-rss
