/* 	MAGENTA  */

/* bootstrap.min.css */
.btn-primary {
	background-color:#ec008c;
	border-color:#ec008c;
	text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #ec008c;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #ec008c;
}
a.thumbnail:hover {
  border-color: #ec008c;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: #ec008c;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #ec008c;
}
/* end - bootstrap.min.css */

/* styles.css */
body {
	background:#ec008c;
}
.biggieicon,
#footer h4,
.twitter.flexslider p:before, 
.twitter.flexslider p,
.contact-page .icon-map-marker:before
{color: #ec008c}

a:hover, 
h1 a:hover, 
h2 a:hover, 
h3 a:hover, 
h4 a:hover 
{color:#ec008c;} /* green is too light for hover on some elements*/

.short_headline 
{border-color: #ec008c;}

.sidebar-tabs .tag-wrapper a:hover, .entry-tags a:hover  {background:#ec008c;color:#fff;}

.call-to-action-footer .call-to-action .btn-primary, .call-to-action-footer .call-to-action .btn-primary i:before {color:#fff;}
.call-to-action-footer .call-to-action .btn-primary:hover, .call-to-action-footer .call-to-action .btn-primary:active {background-color:#333}

/* end - styles.css */

/* header.css */
.menu_wrapper.fixed, 
#main_menu a.selected,
#main_menu a:hover,
#main_menu .active a,
#main_menu a.selected {
    border-color:#ec008c;
}
.preheader .user .login a,
#main_menu li ul a:hover,
#main_menu ul li li a.selected,
#main_menu li.active ul li.active a, 
#main_menu li.active ul li.active ul li.active a, 
#main_menu li.active ul li.active ul li a:hover {
    background-color: #ec008c;
    color:#fff;
}
.preheader .social a,
.preheader .social [class^="socicon"]:before,
.preheader .social [class*=" socicon"]:before {
    color:#fff;
}
/* end header.css */

/* blog.css */
.entry-comments {
    border-color:#ec008c;
}
/* end blog.css */

/* html-content-slider-flexslider.css */
.content-slider-wrapper.dark .content-slider.flexslider .caption h2 {
    color:#ec008c;
}
.content-slider-wrapper.light .content-slider.flexslider .caption h2 {
    color:#ec008c;
}
/* end html-content-slider-flexslider.css */

/* gallery-folio-masonry.css */

.sort li a:hover,
.sort a.active {
    color: #fff;
    background:#ec008c;
    border-color:#ec008c;
}
/* end gallery-folio-masonry.css */

/* tabs and toggles */
.sidebar-tabs .tab a:hover, .sidebar-tabs .tab a.active {background:#ec008c;color:#fff;}
.content-tabs .tab a:hover, .content-tabs .tab a.active {background:#ec008c;color:#fff;}


/*  pricingcolumns-contemporary.css */
.pricing-table .column.standout .buy, 
.pricing-table .standout.column .title-tag, 
.pricing-table .column.standout .title {
    background-color: #ec008c; 
    color:#fff; 
}
.pricing-table .column.standout .buy:hover
		color:#fff!important; 
}
/*  end pricingcolumns-contemporary.css */

 /*pricingcolumns-traditional.css*/
 /* For some reason the only way to override the colors in the default css file is to be really specific*/
html #page #main-content .pricingTable .popular ul.optionheader li.price,
html #page #main-content .pricingTable .popular ul.features li.select a 
{background-color:#ec008c; color:#fff;}

html > body > div#site_wrapper.clearfix > div#page > 
div#main-content.container.clearfix > div.row-fluid.pricingTable > 
div.option3.span3.popular > div.wrapper > ul.optionheader > li.price
{background-color:#ec008c; color:#fff;}

html > body.pricing-tables-traditional > 
div#site_wrapper.clearfix > div#page > div#main-content.container.clearfix > div.row-fluid.pricingTable > div.option3.span3.popular > 
div.wrapper > ul.features > li.select a
{background-color:#ec008c; color:#fff;}

html > body.pricing-tables-traditional > 
div#site_wrapper.clearfix > div#page > div#main-content.container.clearfix > div.row-fluid.pricingTable > div.option3.span3.popular > 
div.wrapper > ul.features > li.select a:hover
{background-color:#333; color:#fff;}

html > body.pricing-tables-traditional > 
div#site_wrapper.clearfix > div#page > div#main-content.container.clearfix > div.row-fluid.pricingTable > div.option2.span4.popular > 
div.wrapper > ul.features > li.select a
{background-color:#ec008c; color:#fff;}

html > body > div#site_wrapper.clearfix > div#page > 
div#main-content.container.clearfix > div.row-fluid.pricingTable > 
div.option2.span4.popular > div.wrapper > ul.optionheader > li.price
{background-color:#ec008c; color:#fff;}

html > body.pricing-tables-traditional > 
div#site_wrapper.clearfix > div#page > div#main-content.container.clearfix > div.row-fluid.pricingTable > div.option2.span4.popular > 
div.wrapper > ul.features > li.select a:hover
{background-color:#333; color:#fff;}



/*
***********************************************************************************
/*	BEGIN MEDIA QUERIES
***********************************************************************************
 */

/*==================================================== 
******************************************************
/*	DEVICES less than 850 pixels wide 
******************************************************
====================================================== */
@media only screen and (max-width: 850px) {


/* header.css */
.mobile_nav {
    background-color: #ec008c;
}
#main_menu a:hover,
#main_menu .active a,
#main_menu a.selected {
    background:#ec008c;
    color:#fff;
}
#main_menu .active li a,
#main_menu a.selected li a {
    background:#ec008c;
    color:#fff;
}
#main_menu li.parent.active i {
	background:url(../images/menu_arrow.png) -10px 0 no-repeat;
}
#main_menu li.parent.active li i {
	background:url(../images/menu_arrow.png) 0 0 no-repeat;
}



}/**** end max width 850px ****/








