%header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %button{type: "button", class: "btn btn-navbar", data: {toggle: "collapse", target: ".nav-collapse"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{href: "#"} 西安Rubyists